.candidate {
	width: 220px;
	border-radius: 10px;
	display: flex;
	border: 1px solid #8b8b8b;
	cursor: pointer;
	box-shadow: 0px 1px 2px #8b8b8b;
}

.candidate:hover {
	box-shadow: none;
}

.btn {
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid #8b8b8b;
	cursor: pointer;
	box-shadow: 0px 1px 2px #8b8b8b;
}
.btn:hover {
	box-shadow: none;
}

.candidate .name {
	font-weight: 700;
	text-transform: capitalize;
}

.img {
	width: 100%;
}